.accordion-keyboard{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: rgba(255, 50, 50, 1);
    margin: 2rem auto;
    border-radius: 2rem;
    max-width: 200px;
}

.accordion-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordion-button{
    background-color: rgba(240,240,240,1);
    border: 0px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;

    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;    
    justify-content: center;
    align-items: center;
    /* gap: 2px; */
    padding: 2px;

    box-shadow: 0px 8px 2px rgba(150,80,80,1);
}

.accordion-button span{
    display: block;
    /* color: rgba(200,200,200,1); */
    color: black;
    flex-grow: 1;
}
.accordion-button .vertical-line{
    height: 2rem;
    border: 1px solid rgba(200,200,200,1);
}

.accordion-button-pressed {         
    box-shadow: 0px 0px 0px rgba(150,80,80,1);
}
.accordion-button-pressed span {
    color: white;    
}
.accordion-button-in{
    background-color: rgba(100,200,100,1);   
}
.accordion-button-out{
    background-color: rgba(100,100,255,1);   
}
.accordion-button-in span:nth-of-type(1),
.accordion-button-out span:nth-of-type(2),
.accordion-button-in .vertical-line,
.accordion-button-out .vertical-line{
    display: none;
}